{% extends 'base.html' %}
{% block title %}{{ recipe_object.title }} - Scrumptious Recipes{% endblock title %}
{% block content %}
        <header>
            <nav>
                <a href="{% url "recipe_list" %}">Main page</a>
                <a href="{% url "edit_recipe" recipe_object.id %}">Edit this Recipe</a>
            </nav>
        </header>
        <main>
            <h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}" alt="A plate with several vegetable tacos">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <h2>Ingredients</h2>
            {% if recipe_object.ingredients.all %}
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody class="alternate-shade">
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There are no ingredients yet.</p>
            {% endif %}
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
                {% empty %}
                <p>There are no recipe steps yet.</p>
                {% endfor %}
            </ol>
        </main>
{% endblock content %}
