{% extends 'base.html' %}
{% block title %}Scrumptious Recipes{% endblock title %}
{% block content %}
        <header>
            <nav>
                <a href="{% url "recipe_list" %}">Main page</a>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <a href="{% url "my_recipe_list" %}">My Recipes</a>
                    <a href="{% url "create_recipe" %}">Create a recipe</a>
                    <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1>Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="grid">
                {% for recipe in recipe_list %}
                <div class="item{{ recipe.id }} {% cycle 'cnt1' 'cnt2' 'cnt3' %}">
                    <h3>
                        <a href="{% url "show_recipe" recipe.id %}">{{ recipe.title }}</a></h3>
                        <img src="{{ recipe.picture }}" alt="A plate with several vegetable tacos">
                        <div>4.3 stars</div>
                        <p>{{ recipe.created_on|date:"F j, Y" }}</p>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock content %}
