@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;

}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 60px;
}

footer {
    padding: 24px 24px;
    width: 100%;
    background-color: #B4CF66;
    position: relative;
    bottom: 0;
}

img {
    height: 200px;
    margin-top: 20px;
}

nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 20px;
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
    color: white;
    text-shadow: 2px 2px 3px #0C0C0C;
}

a {
    text-decoration: none;
    transition: font-size 1s;
}

nav a {
    color: white;
    font-weight: bold;
    grid-column: span 1;
    grid-row: 1;
}

.grid a {
    color: #004700;
    text-shadow: 1px 1px 0 #0C0C0C, -1px -1px 0 #0C0C0C;
}

a:hover {
    color: #00FF00;
    font-size: larger;
}

.grid{
    display: grid;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 500px);
    gap: 10px;
}

.item1{
    grid-row: 1;
}

.grid div {
    grid-column: span 1;
}

.grid :nth-child(4n+1) {
    grid-row: span 1;
    grid-column: span 1;
}

.alternate-shade>:nth-child(2n) {
    background-color: lightgrey;
}

.grid .cnt3{
    background: linear-gradient(45deg, #A0A0A0 0%, #CFCFCF 50%, #FFFFFF 90%);
}
