{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        {% block content %}{% endblock content %}
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
